<?xml version='1.0' encoding='UTF-8'?>

<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.3/phpunit.xsd"
  backupGlobals='false'
  backupStaticAttributes='false'
  bootstrap='bootstrap.php'
  colors='true'
  convertErrorsToExceptions='true'
  convertNoticesToExceptions='true'
  convertWarningsToExceptions='true'
  forceCoversAnnotation='false'
  mapTestClassNameToCoveredClassName='false'
  processIsolation='false'
  stopOnError='false'
  stopOnFailure='false'
  stopOnIncomplete='false'
  stopOnSkipped='false'
  strict='true'
  timeoutForSmallTests='10'
  timeoutForMediumTests='30'
  timeoutForLargeTests='60'
  verbose='false'
  >

  <testsuites>
    <testsuite name='Fwlib Test Suite'>
      <directory phpVersion='5.3.0' phpVersionOperator='>='
        >./ImapDeleteForMh/Test/</directory>
    </testsuite>
  </testsuites>

  <groups>
    <exclude>
      <group>benchmark</group>
      <group>selenium</group>
    </exclude>
  </groups>

  <filter>
    <whitelist processUncoveredFilesFromWhitelist='true'>
      <directory>./ImapDeleteForMh/</directory>
      <exclude>
        <directory>./ImapDeleteForMh/Test/</directory>
      </exclude>
    </whitelist>
  </filter>

  <php>
    <ini name='memory_limit' value='300m' />
  </php>

</phpunit>
